// Fonts

// font used for navbar brand
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
// font used for links
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
// font used for body
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// Body
$body-bg: #fff;

// Typography

// font family for navbar brand
$font-family-lexend-deca: "Lexend Deca", sans-serif;
// font family for links
$font-family-montserrat: "Montserrat", sans-serif;
// font for body
$font-family-open-sans: "Open Sans", sans-serif;

// base styles for body
$font-family-base: $font-family-open-sans !default;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$text-light: rgb(85, 83, 83);

$github: #24292e;

$primary: #17b978;
$secondary: #086972;

$mint-green: #a7ff83;
$mountain-meadow: #17b978;
$atoll: #086972;
$downriver: #071a52;

$gradient: linear-gradient(
    90deg,
    rgba(23, 185, 120, 1) 24%,
    rgba(8, 105, 114, 1) 56%
);
